<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Acr.XamForms.UserDialogs" version="5.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rb.Forms.Barcode" version="0.7.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Scandit.BarcodePicker.Unified" version="5.4.1.10" targetFramework="portable45-net45+win8+wp8" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Toasts.Forms.Plugin" version="2.0.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Connectivity" version="3.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.4.270" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="portable45-net45+win8+wp8" />
</packages>